body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}

/* NAVBAR */

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 40px;
    background:#0a66c2;
    color:white;
}

/* LOGO */

.logo{
    font-size:22px;
    font-weight:bold;
}

/* NAV LINKS */

.nav-links{
    list-style:none;
    display:flex;
    gap:30px;
}

.nav-links a{
    text-decoration:none;
    color:white;
    font-weight:500;
}

.nav-links a:hover{
    color:#ffd700;
}

/* BUTTON */

.nav-btn button{
    padding:8px 18px;
    border:none;
    border-radius:5px;
    background:white;
    color:#0a66c2;
    font-weight:bold;
    cursor:pointer;
}

.nav-btn button:hover{
    background:#f2f2f2;
}